[submodule "relibc"]
	path = relibc
	url = https://gitlab.redox-os.org/redox-os/relibc.git
[submodule "mlibc"]
	path = mlibc
	url = https://github.com/managarm/mlibc
[submodule "dash"]
	path = dash
	url = https://git.kernel.org/pub/scm/utils/dash/dash.git
[submodule "Manuae-Shell"]
	path = Manuae-Shell
	url = https://codeberg.org/sakettor/Manuae-Shell
