[submodule "relibc"]
	path = relibc
	url = https://github.com/SeeleOS/relibc
[submodule "toolchain"]
	path = toolchain
	url = https://github.com/SeeleOS/toolchain
[submodule "packages"]
	path = packages
	url = https://github.com/SeeleOS/packages
[submodule "seele-sys"]
	path = seele-sys
	url = ./seele-sys
