[D-BUS Service]
Name=org.kde.kglobalaccel
Exec=/usr/bin/env DISPLAY=:0 XDG_CURRENT_DESKTOP=KDE KDE_FULL_SESSION=true KDE_SESSION_VERSION=6 QT_QPA_PLATFORM=xcb /usr/lib/kglobalacceld
